<div class="flex flex-col gap-4">
    <input class="text-base p-4 rounded-lg bg-slate-100" type="text" [(ngModel)]="busca" placeholder="Buscar pessoa">
    
    <div class="flex flex-col  ">
        <div class="flex items-center px-4 py-2 mb-2 rounded-lg bg-slate-100" *ngFor="let item of ((pessoaService.pessoas$ | async) | filter : ['username'] : busca)" >
            
            <div class="flex-[0_0_70px]">
                {{item.userId}}
            </div>

            <div class="">
                {{item.username}}
            </div>

            <div class="ml-auto flex gap-2">
                <a [routerLink]="'/'+item.userId" class="text-sm py-1 px-3 rounded-lg hover:bg-slate-50">ver</a>
                <button class="text-sm py-1 px-3 rounded-lg hover:bg-slate-50">excluir</button>
            </div>

        </div>
    </div>
</div>